/* DOM */

html,
body {
  margin: 0;
  padding: 0;
  background: white;
}

body {
  overflow-y: hidden;
}

input {
  width: 100%;
  margin: -4.85px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}
input::-webkit-slider-runnable-track {
  background: #848484;
  border: 1.6px solid #010101;
  width: 100%;
  height: 36.7px;
  cursor: pointer;
}
input::-webkit-slider-thumb {
  margin-top: 3.25px;
  width: 20px;
  height: 27px;
  background: #ffffff;
  border: 1.9px solid #000000;
  cursor: pointer;
  -webkit-appearance: none;
}
input:focus::-webkit-slider-runnable-track {
  background: #bfbfbf;
}
input::-moz-range-track {
  background: #848484;
  border: 1.6px solid #010101;
  width: 100%;
  height: 36.7px;
  cursor: pointer;
}
input::-moz-range-thumb {
  width: 20px;
  height: 27px;
  background: #ffffff;
  border: 1.9px solid #000000;
  cursor: pointer;
}
input::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
  width: 100%;
  height: 36.7px;
  cursor: pointer;
}
input::-ms-fill-lower {
  background: #494949;
  border: 1.6px solid #010101;
}
input::-ms-fill-upper {
  background: #848484;
  border: 1.6px solid #010101;
}
input::-ms-thumb {
  width: 20px;
  height: 27px;
  background: #ffffff;
  border: 1.9px solid #000000;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input:focus::-ms-fill-lower {
  background: #848484;
}
input:focus::-ms-fill-upper {
  background: #bfbfbf;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

/* CLASS */



.winPage {
  top: 100vh;
}

.winPage_full {
  top: 0;
}

.navBar {
  position: absolute;
  bottom: 0;
  display: inline-flex;
}

.navBar button {
  margin: 8px;
  height: 6vw;
  width: 6vw;
  font-size: 3vw;
}

.refreshSideBarBtn {
  position: fixed;
  right: 12vw;
}

.hintOutput {
    display: block;
    margin: auto;
    height: 75px;
    width: -webkit-fill-available !important;
    cursor: default;
    text-align: center;
}
.hintOutput img {
  width: 75px;
  height: 75px;
  background-position: center !important;
  background-size:  auto 100% !important;
}
.hintOutput span {
  margin:auto 0;
  font-size: xxx-large;
}
.settPage {
  top: 100vh;
}

.settPage_full {
  top: 0;
}

.soundFeature,.musicFeature {
  position: relative;
  height: 20vh;
  line-height: 30px;
  width: 60vw;
  margin: 5vh 20vw;
}

.clearLSbtn {
  position: relative;
  height: 20vh;
  line-height: 30px;
  width: 30vw;
  margin: 5vh 20vw;
}

.xOut {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 4vw;
}

.warnPage {
  top:100vh;
}

.warnPage_full {
  top:0;
}

/* ID */
#board {
  width: 88vw;
  height: 100vh;
}

#board div {
  color: transparent;
  background-size:  auto 100% !important;
}

#sideBar {
  left: 88vw;
  width: 12vw;
  height: 100vh;
  overflow-y: auto;
}

#sideBar div {
  transition: 1s all;
  margin: 10px 0;
  color: transparent;
  background-position: center !important;
  background-size:  auto 100% !important;

}

.soundFeature input:hover {
  opacity: 1;
}


/* MULTI */
.warnPage,.warnPage_full {
  transition: 500ms all;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 11;
  left:0;
}

.settPage,
.settPage_full {
  transition: 500ms all;
  background: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.winPage,
.winPage_full {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  background-color: white;
  transition: 333ms all;
}

.warnPage button,
.warnPage_full button {
  margin:10vh 10vw;
  width:30vw;
  height: 10vh;
}

.warnPage p,
.warnPage_full p {
  text-align: center;
  margin:5vh 10vw;
  width:80vw;
  font-size: 3em;
}

#sideBar div,
#board div {
  line-height: 9vw;
  width: 9vw;
  cursor: grab !important;
}

#sideBar div:active,
#board div:active {
  cursor: grabbing !important;
}

.musicFeature,.soundFeature,.winPage,#sideBar,
.winPage_full,#sideBar div,
#board div,.navBar button {
  text-align: center;
}

#sideBar,
#board {
  position: absolute;
  background: white;
}

.navBar button,
.xOut {
  cursor: pointer;
}

/* KEYFRAMES */

/* MEDIA QUERIES */

/* 600px and down */
@media only screen and (max-width: 600px) {
  /* DOM */

  /* CLASS */

  /* ID */

  /* MULTI */

  /* KEYFRAMES */

  /* MEDIA QUERIES */

  /* 600px and down */
}

/* 600px and up */
@media only screen and (min-width: 600px) {
  /* DOM */

  /* CLASS */

  /* ID */

  /* MULTI */

  /* KEYFRAMES */

  /* MEDIA QUERIES */

  /* 600px and down */
}

/* 768px and up */
@media only screen and (min-width: 768px) {
  /* DOM */

  /* CLASS */

  /* ID */

  /* MULTI */

  /* KEYFRAMES */

  /* MEDIA QUERIES */

  /* 600px and down */
}

/* 992px and up */
@media only screen and (min-width: 992px) {
  /* DOM */

  /* CLASS */

  /* ID */

  /* MULTI */

  /* KEYFRAMES */

  /* MEDIA QUERIES */

  /* 600px and down */
}

/* 1200px and up */
@media only screen and (min-width: 1200px) {
  /* DOM */

  /* CLASS */

  /* ID */

  /* MULTI */

  /* KEYFRAMES */

  /* MEDIA QUERIES */

  /* 600px and down */
}
