/* DOM */

html, body {
    margin: 0;
    padding: 0;
    background: black;
}

/* CLASS */

/* ID */

#board {
    width:88.4vw;
    height:100vh;
}

#board div {
    background: pink;
    line-height: 5vw;
    width: 5vw;
    text-align: center;
}

#sideBar {    
    left:88.5vw;
    width: 11.5vw;
    height: 100vh;
    text-align: center;
    overflow-y: auto;
}

#sideBar div {
    cursor: grab;
    transition: 1s all;
    line-height: 5vw;
    width: 5vw;
    margin: 10px 25%;
    text-align: center;
}

/* MULTI */

#sideBar,#board {
    position: absolute;
    background: white;

}

/* KEYFRAMES */

/* MEDIA QUERIES */

/* 600px and down */
@media only screen and (max-width: 600px) {
    /* DOM */

    /* CLASS */

    /* ID */

    /* MULTI */

    /* KEYFRAMES */

    /* MEDIA QUERIES */

    /* 600px and down */
}



/* 600px and up */
@media only screen and (min-width: 600px) {
    /* DOM */

    /* CLASS */

    /* ID */

    /* MULTI */

    /* KEYFRAMES */

    /* MEDIA QUERIES */

    /* 600px and down */
}



/* 768px and up */
@media only screen and (min-width: 768px) {
    /* DOM */

    /* CLASS */

    /* ID */

    /* MULTI */

    /* KEYFRAMES */

    /* MEDIA QUERIES */

    /* 600px and down */
}



/* 992px and up */
@media only screen and (min-width: 992px) {
    /* DOM */

    /* CLASS */

    /* ID */

    /* MULTI */

    /* KEYFRAMES */

    /* MEDIA QUERIES */

    /* 600px and down */
}



/* 1200px and up */
@media only screen and (min-width: 1200px) {
    /* DOM */

    /* CLASS */

    /* ID */

    /* MULTI */

    /* KEYFRAMES */

    /* MEDIA QUERIES */

    /* 600px and down */
}